<div>
  <form ng-submit="submit(petObject)">

    <label>Pet's Name</label>
    <input ng-model="petObject.name" type="text" />

    <label>Pet's Type</label>
    <select ng-model="petObject.type" />
      <option ng-repeat="animal in typeArray">
        {{ animal }}
      </option>
    </select>

    <label>Pet's Age</label>
    <input ng-model="petObject.age" type="number" />

    <label>Pet's Image URL</label>
    <input ng-model="petObject.image" type="text" />

    <input type="submit" />

  </form>
</div>
